.text{
    -fx-font-smoothing-type: gray;
}

#logo {
    -fx-font-family: nexus;
    -fx-font-size: 80;
    -fx-font-weight: bold;
}

#password_input {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-text-box-border: #585858    ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-font-size: 20;
}

#password_input:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
    -fx-focus-color: #1A1A1A;
}

#login_button {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #EEEEEE;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#password_label {
    -fx-text-fill: #585858;
}

#gallery_side_menu {
    -fx-background-color: #1A1A1A;
    -fx-padding: 20 0 20 0;
}

#gallery_logo {
    -fx-font-family: nexus;
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-text-fill: #5F5CE1;
}

.side_menu_button {
    -fx-background-radius: 0 50 50 0;
    -fx-background-color: transparent;
    -fx-padding: 16;
    -fx-text-fill: #EEEEEE;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 20.0;
    -fx-font-size: 16;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.active_side_menu_button {
    -fx-background-color: #5F5CE1;
}

.error_text {
    -fx-text-fill: #d00101;
}